# Server
BETTER_STACK_API_KEY=""
BETTER_STACK_TEAM_API_KEY=""
BETTER_STACK_UPTIME_TOKEN=""
BETTER_STACK_URL=""
SANITY_STUDIO_PROJECT_ID=""
SANITY_STUDIO_DATASET=""
SANITY_STUDIO_APP_ID=""
SENTRY_ORG=""
SENTRY_PROJECT=""

# Client
NEXT_PUBLIC_APP_URL=""
NEXT_PUBLIC_BETTER_STACK_INGESTING_URL=""
NEXT_PUBLIC_BETTER_STACK_SOURCE_TOKEN=""
NEXT_PUBLIC_BLOG_URL=""
NEXT_PUBLIC_DOCS_URL=""
NEXT_PUBLIC_GA_MEASUREMENT_ID=""
NEXT_PUBLIC_POSTHOG_KEY=""
NEXT_PUBLIC_POSTHOG_HOST=""
NEXT_PUBLIC_SENTRY_DSN=""
NEXT_PUBLIC_WEB_URL=""
# NEXT_SERVER_ACTIONS_ENCRYPTION_KEY=""